.nav {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-500px);
    height: 100%;
    width: 400px;
    border: 1px solid transparent;
    border-radius: 0% 0% 100% 50%;
    transition: all 1s cubic-bezier(.8, 0, .33, 1);
    z-index: $nav-z;
    overflow: hidden;
    

    .nav-list{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(-100px);
        opacity: 0;
        transition: all 900ms cubic-bezier(.9, 0, .33, 1);

        .nav-list-item{
            margin: 20px 0;
            text-decoration: none;
            font-family: sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1.2rem;
            transition: all 300ms cubic-bezier(.9, 0, .33, 1);
            
            a{
                font-family: $main-font;
                color: rgba(0,0,0,0.9);
                transition: all .3s ease-in-out;
            }
            
            &:hover{
                a{
                    color: #fff;
                }
            }
        }

        &.fade-in{
            opacity: 1;
            transform: translateX(0px);
        }
    }

    &.nav-open{
        transform: translateX(0px);
        border-radius: 0% 0% 0% 0%;
        
    }

    &.little-time{
        z-index: 10;
    }
}
