//   ============================================================ banner ============================================================


.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    height: 100vh;
    background-color: rgba(10, 20, 40, 1);
    // max-width: 1000px;
    perspective: 500px;
    text-align: center;
    overflow: hidden;

    .banner__title{
        position: absolute;
        top: 30%;
        color: #c6e2ff;
        font-size: 10rem;
        // font-family: 'Anton', sans-serif;
        transform: translate3d(0, 15%, 0);
        transition: all 1s ease-in-out;
        opacity: 0;
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 10px $beach, 0 0 10px $beach, 0 0 10px $beach, 0 0 20px $beach;

        &.show{
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }

        &.active{
            color: $beach;
            text-shadow: none;
        }
    }

    .banner__title--effect {
        position: absolute;
        top: 40%;
        display: none;
        transform-style: preserve-3d;
        will-change: transform;


        .text {
            position: absolute;
            font-size: 10rem;
            color: #fff;
            line-height: 10rem;
            font-family: 'Anton', sans-serif;
            padding: 20px 0;
            mix-blend-mode: screen;
            transform-style: preserve-3d;
            will-change: transform;
            @for $i from 1 through 26 {
            $key: $i - 1;
            $param: 5;
                &:nth-child(#{$i}) {
                    clip-path: polygon(
                    -30% + ($key * $param) 0,
                    -20% + ($key * $param) 0,
                    20% + ($key * $param) 100%,
                    0% + ($key * $param) 100%
                    );
                    animation: wave 2000ms $key * 200 - 10000ms ease-in-out infinite alternate;
                }
            }
        }


        @keyframes wave {
            0% {
                transform: translate(-50%, -50%) scale(0.9) rotateX(20deg) rotateY(20deg);
                color: rgba(0, 30, 100, 1);
            }
            100% {
                transform: translate(-50%, -50%) scale(1.1) rotateX(0deg) rotateY(0deg);
                color: $beach;
            }
        }

        @keyframes wave1 {
            0% {
                transform: translate(-50%, -50%) scale(0.9) rotateX(20deg) rotateY(20deg);
                color: rgba(0, 30, 100, 1);
            }
            100% {
                transform: translate(-50%, -50%) scale(1.1) rotateX(0deg) rotateY(0deg);
                color: $savanna;
            }
        }

        @keyframes wave2 {
            0% {
                transform: translate(-50%, -50%) scale(0.9) rotateX(20deg) rotateY(20deg);
                color: rgba(0, 30, 100, 1);
            }
            100% {
                transform: translate(-50%, -50%) scale(1.1) rotateX(0deg) rotateY(0deg);
                color: $glacier;
            }
        }

        @keyframes wave3 {
            0% {
                transform: translate(-50%, -50%) scale(0.9) rotateX(20deg) rotateY(20deg);
                color: rgba(0, 30, 100, 1);
            }
            100% {
                transform: translate(-50%, -50%) scale(1.1) rotateX(0deg) rotateY(0deg);
                color: $coral;
            }
        }

        &.show{
            display: block;
        }
    }

    .banner__subtitle {
        position: absolute;
        top: 60%;
        margin-top: 24px;
        font-size: 22px;
        line-height: 28px;
        margin: 16px 0px 0px;
        color: $gray;
        font-weight: 300;
        vertical-align: baseline;
    }

    .banner__btn__area {
        position: absolute;
        top: 75%;
        margin-top: 40px;
        margin-bottom: 40px;
        transform: translate3d(0, 200%, 0);
        transition: all 1.5s ease-in-out;
        opacity: 0;
        z-index: 1;
    
        button {
            display: inline-block;
            font-weight: 700;
            border-radius: 4px;
            cursor: pointer;
            transition: color 0.3s ease 0s, border-color 0.3s ease 0s,
            background-color 0.3s ease 0s;
            text-decoration: none;
            border: 2px solid $beach;
            background-color: $beach;
            font-size: 1.2rem;
            line-height: 22px;
            padding: 15px 24px;
            color: rgb(255, 255, 255) !important;
            line-height: 22px;
        }

        &.show{
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }

    }

    .banner__loading__area{
        position: absolute;
        top: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100%;
        transition: all 1s ease-in-out;
        opacity: 0;

        .loading__word {
            margin-bottom: 20px;
            font-size: 4rem;
            font-family: "Vibur", cursive;
            text-align: center;
            line-height: 1;
            color: #c6e2ff;
            text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px $beach, 0 0 21px $beach, 0 0 34px $beach, 0 0 54px $beach;
        }
            
            
        .loading__bar {
            background-color: #c6e2ff;
            animation: loading 15s linear 1;
            animation-delay: 10s;
            border-radius: 10px;


            @keyframes loading {
                0% {
                width: 0;
                }
                100% {
                width: 100%;
                }
            }
        }
        
        
        .loading__bg {
            color: #c6e2ff;
            width: 250px;
            height: 10px;
            border: 1px solid #c6e2ff;
            border-radius: 10px;
            box-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px $beach, 0 0 21px $beach, 0 0 34px $beach, 0 0 54px $beach;
        }

        &.show{
            opacity: 1;
        }
            
    }


    @media (max-width: 1000px) {
    
        .banner__title{
            font-size: 8rem;
        }
    
        .banner__title--effect{
            .text{
                font-size: 8rem;
            }
        }
    
        .banner__subtitle{
            font-size: 16px;
        }
    
        .banner__btn__area{
            button{
                padding: 10px 18px;
                font-size: 1rem;
            }
        }
    
        .banner__loading__area{
            .loading__word{
                font-size: 3rem;
            }
    
            .loading__bg{
                width: 150px;
            }
        }
    
    }
    
    @media (max-width: 500px) {
    
        .banner__title{
            position: static;
            font-size: 3rem;
        }
    
        .banner__title--effect{
            .text{
                font-size: 4rem;
            }
        }
    
        .banner__subtitle{
            font-size: 13px;
        }
    
        .banner__btn__area{
            button{
                padding: 8px 15px;
                font-size: .8rem;
            }
        }
    
        .banner__loading__area{
            .loading__word{
                font-size: 2rem;
            }
    
            .loading__bg{
                width: 100px;
            }
        }
    
    }
}


/* ============ [ Colorchange ]  ============ */
[data-sld="1"] .banner{
    .banner__title{
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 10px $savanna, 0 0 10px $savanna, 0 0 10px $savanna, 0 0 20px $savanna;

        &.active{
            color: $savanna;
            text-shadow: none;
        }
    }

    .banner__title--effect{
        .text {
            @for $i from 1 through 26 {
                $key: $i - 1;
                $param: 5;
                &:nth-child(#{$i}) {
                    clip-path: polygon(
                    -30% + ($key * $param) 0,
                    -20% + ($key * $param) 0,
                    20% + ($key * $param) 100%,
                    0% + ($key * $param) 100%
                    );
                    animation: wave1 2000ms $key * 200 - 10000ms ease-in-out infinite alternate;
                }
            }
        }
    }

    .banner__btn__area{
        button{
            border: 2px solid $savanna;
            background-color: $savanna;
        }
    }

    .banner__loading__area{
        .loading__word{
            text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px $savanna, 0 0 21px $savanna, 0 0 34px $savanna, 0 0 54px $savanna;
        }

        .loading__bg{
            box-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px $savanna, 0 0 21px $savanna, 0 0 34px $savanna, 0 0 54px $savanna;
        }
    }
}

[data-sld="2"] .banner{
    .banner__title{
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 10px $glacier, 0 0 10px $glacier, 0 0 10px $glacier, 0 0 20px $glacier;

        &.active{
            color: $glacier;
            text-shadow: none;
        }
    }

    .banner__title--effect{
        .text {
            @for $i from 1 through 26 {
                $key: $i - 1;
                $param: 5;
                &:nth-child(#{$i}) {
                    clip-path: polygon(
                    -30% + ($key * $param) 0,
                    -20% + ($key * $param) 0,
                    20% + ($key * $param) 100%,
                    0% + ($key * $param) 100%
                    );
                    animation: wave2 2000ms $key * 200 - 10000ms ease-in-out infinite alternate;
                }
            }
        }
    }

    .banner__btn__area{
        button{
            border: 2px solid $glacier;
            background-color: $glacier;
        }
    }

    .banner__loading__area{
        .loading__word{
            text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px $glacier, 0 0 21px $glacier, 0 0 34px $glacier, 0 0 54px $glacier;
        }

        .loading__bg{
            box-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px $glacier, 0 0 21px $glacier, 0 0 34px $glacier, 0 0 54px $glacier;
        }
    }
}

[data-sld="3"] .banner{
    .banner__title{
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 10px $coral, 0 0 10px $coral, 0 0 10px $coral, 0 0 20px $coral;

        &.active{
            color: $coral;
            text-shadow: none;
        }
    }

    .banner__title--effect{
        .text {
            @for $i from 1 through 26 {
                $key: $i - 1;
                $param: 5;
                &:nth-child(#{$i}) {
                    clip-path: polygon(
                    -30% + ($key * $param) 0,
                    -20% + ($key * $param) 0,
                    20% + ($key * $param) 100%,
                    0% + ($key * $param) 100%
                    );
                    animation: wave3 2000ms $key * 200 - 10000ms ease-in-out infinite alternate;
                }
            }
        }
    }

    .banner__btn__area{
        button{
            border: 2px solid $coral;
            background-color: $coral;
        }
    }

    .banner__loading__area{
        .loading__word{
            text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px $coral, 0 0 21px $coral, 0 0 34px $coral, 0 0 54px $coral;
        }

        .loading__bg{
            box-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px $coral, 0 0 21px $coral, 0 0 34px $coral, 0 0 54px $coral;
        }
    }
}







